<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--The packages provided here will be downloaded to native_build/external/nuget_packages,
      or /home/external/nuget_packages on a docker container.
      To reference these DLLs, in te CMakeLists.txt use:
      set(NUGET_PKGS_BASE ${PROJECT_BINARY_DIR}/../../../external/nuget_packages)
      and then the DLL is found at:
      ${NUGET_PKGS_BASE}/System.Threading.dll
      Target framework for extraction follows a predefined preference order, defined at:
      scripts/pull_cs_nuget_packages.sh
    -->
  <package id="MathNet.Numerics" version="5.0.0"/>
  <package id="DynamicObj" version="2.0.0"/>
  <package id="FSharp.Core" version="7.0.0"/>
  <package id="Plotly.NET" version="3.0.1"/>
  <package id="Newtonsoft.Json" version="13.0.2"/>
  <package id="System.Security.Permissions" version="7.0.0"/>
  <package id="TaskParallelLibrary" version="1.0.2856"/>
</packages>
